.my-alert-info{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.legent_style{
    margin: 0;
}
.procedures_style {
    margin-bottom: 5px;
}

.bootstrap-iso .input-group .my-form-control {
    width: 65%;
}