/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: -250px;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 50px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 98;
    color: #FFFFFF;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/*sidenaw*/
/*.sidenav .closebtn {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 25px;*/
    /*font-size: 36px;*/
    /*z-index: 99;*/
    /*color: #ffffff;*/
/*}*/
.user-view {
    position: relative;
    min-height: 135px;
}

.own-sidenav {
    padding: 5px;
    margin-left: 15px;
}
.own-sidenav  a {
    color: #333333 !important;
}

.sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.own-img-circle {
    width: 50px;
}
.user-photo {
    padding: 20px 0 0 20px;
}
.user-name {
    padding-top: 15px;
    padding-left: 20px;
}
.user-email {
    margin-left: 20px;
}
.user-cart {
    position: absolute;
    top: 28px;
    left: 75px;
    font-size: 16px;
}
.count-in-basket {
    position: absolute;
    top: 13px;
    left: 92px;
    font-size: 14px;
}
/**/
.header {
    background: linear-gradient(to right,#4a8fcc,#4267b2);
    /*background-color: #4267b2;*/
    color: #ffffff;
}
.own-head {
    padding: 10px 0 0;
}
.content {
    background-color: #f6f6f6;
    border-bottom: 0;
    border: 1px solid #dddddd;
    border-bottom: none;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f6f6f6;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
}

/*light carousel*/
.own-carousel {
    background-color: #ffffff;
    padding: 10px 0;
}

.own-box {
    height: 85px;
    display: block;
    width: 100%;
}

.own-box img {
    height: 75px;
    margin-bottom: 10px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
.price {
    color: #e2001a;
}
.own-font-size {
    font-size: 18px;
}
.own-header {
    font-weight: bold;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-bottom-15 {
    padding-bottom: 15px;
}
.own-naw-font a {
    color: #ffffff !important;
}
.own-naw-font li a:hover {
    background-color: #198ce8 !important;
}
footer {
    border-top:1px solid #dddddd;
}
.own-footer-main {
    position: relative;
    padding-right: 0;
    padding-left: 0;
}
.own-footer-div {
    position: absolute;
    top: -26px;
    width: 100%;
}
.own-footer-div-child {
    background-color: #f6f6f6;
    margin: 0 1px;
    height: 10px;
}

.own-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    columns: 3;
}
.own-menu li {
    margin-bottom: 5px;
}
.own-menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.after-login a {
    color: #ffffff;
}


.own-language {
    width: 50px;
    margin-bottom: 10px;
}
.dropdown-menu {
    min-width: 50px !important;
}
.own-dropdown-menu > li > a {
    color: #000000 !important;
}
.own-dropdown-menu > li > a:focus, .own-dropdown-menu > li > a:hover {
    background-color: #1796fb !important;
    color: #ffffff !important;
}


.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}

@media (max-width: 1000px) {
    .own-menu {
        columns: 4;
    }
    .own-menu li {
        margin-bottom: 2px;
    }
    .own-menu li a {
        font-size: 12px;
    }
}
.mobile-header {
    display: none;
}

@media (max-width: 1214px){
    .desktop-header, .own-carousel {
        display: none;
    }
    .mobile-header {
        display: block;
        background-color: #1796fb;
    }

    .logo {
        max-width: 130px;
        margin: 10px 0;
    }
}

.box-for-glyphicon{
    padding-top: 20px;
}
.white-color {
    color: #ffffff;
}
.margin-top-25 {
    margin-top: 25px;
}
.own-label {
    font-size: 16px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.own-captain {
    min-height: 147px;
}

.own-help {
    margin-top: 20px;
    padding: 15px;
    border: 2px dashed #1796fb;
}
.own-help p {
    font-size: 16px;
}

.padding-25 {
    padding: 25px;
}
.inline-block {
    display: inline-block;
}
.innerText {
    color: #333333 !important;
}
.own-label-color {
    color: #333333 !important;
    text-decoration: none !important;
}
.margin-top-10 {
    margin-top: 10px;
}
.heading {
    color: #1796fb;
    font-size: 28px;
    font-weight: 600;
}

.own-btn-info {
    color: #fff;
    background-color: #1796fb;
    border-color: #057cda;
}
.own-btn-info:hover {
    color: #fff;
    background-color: #48a9f7;
    border-color: #3aa4f9;
}
.help-block strong {
    font-size: 12px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.profile-dropdown-menu li a {
    color: #333 !important;
    font-size: 16px;
}

.profile-dropdown-menu li a:hover {
    color: #ffffff !important;
    background-color: #1796fb;
}

.profile-dropdown-menu li a.active {
    color: #ffffff !important;
    background-color: #1796fb;
}

.profile-box {
    border: 2px solid #ffffff;
    border-radius: 10%;
    font-weight: bold;
}
.own-naw {
    background-color: #1796fb;
}

.own-naw .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: #ffffff;
}
.blue {
    color: #1796fb;
}
.profil-items, .last-30-day {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.last-30-day {
    font-size: 18px;
}

.profil-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.profil-items ul li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 2px 18px;
    color: #212121 !important;
    font-size: 18px;
}
.profil-items ul li a:hover {
    background-color: #1796fb;
    color: #ffffff !important;
}
.profil-items .active {
    background-color: #1796fb;
}
.profil-items ul .active a {
    color: #ffffff !important;
}
.naw-tabs > li {
    float: left !important;
}
.naw-tabs > li > a {
    background-color: #eaeaea;
    color: #1796fb !important;
    font-weight: bold;
}
.tabs {
    width: 50%;
}

.naw-tabs > li + li {
    margin-left: 0;
}
.naw-tabs .active a {
    color: #ffffff !important;
}
.tabs-content {
    background-color: #ffffff;
    padding: 5px;
    margin-top: 7px;
}
.own-date {
    margin-bottom: 5px;
}
.own-date input {
    width: 42px;
    font-size: 12px;
    border: 1px solid #cccccc;
}
.own-prices {
    width: 80px;
    font-size: 14px;
    line-height: 2;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.own-input-style {
    font-size: 14px;
    line-height: 2;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.own-calendar {
    background-color: #1796fb;
    color:#ffffff;
    border-color: #1796fb;
    padding: 1px 5px;
}
.own-url-style {
    width: 45%;
}
.own-btn-small {
    padding: 0px 4px;
}
.end-time {
    font-size: 12px;
}
.white-background {
    background-color: #ffffff;
    padding: 10px 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.order_show_page {
    padding: 10px 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.blue-header {
    color: #1796fb;
    font-size: 18px;
    font-weight: bold;
}

.own-close {
position: absolute;
    top: 2px;
    right: 2px;
    z-index: 99;
}
.own-hr {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.order-box-img {
    border: 1px solid #cccccc;
    border-right: none;
}
.order-box-header {
    border: 1px solid #cccccc;
    border-bottom: none;
}
.order-box-content {
    padding: 0;
}
.order-box-body-table, .order-box-footer-table {
    margin-bottom: 0;
}
.order-box-body-table tbody tr td, .order-box-footer-table tbody tr td {
    padding: 3px;
}
.order-box-body-table thead tr th{
    border-bottom-width: 0;
    padding: 2px;
}
.order-count {
    position: absolute;
    top: 2px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #1796fb;
    left: 65px;
}
.products-in-order {
    background-color: #ffffff;
}
.show-product, .a {
    cursor: pointer;
}
.show-product {
    background-color: #1796fb21;
}
.a {
    background-color: #f0ad4e42;
}



/*Form Wizard*/
.bs-wizard {margin: 40px 0 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 14px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


/*sorgularda img show*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}


/* Style the Image Used to Trigger the Modal */
.sorgu_img #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.sorgu_img #myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.sorgu_img .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.sorgu_img .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.sorgu_img #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.sorgu_img .modal-content, .sorgu_img  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.sorgu_img .close_task_img {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.sorgu_img .close_task_img:hover,
.sorgu_img .close_task_img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .sorgu_img .modal-content {
        width: 100%;
    }
}


.chat_message .container_msg {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chat_message .darker {
    border-color: #ccc;
    background-color: #ddd;
}

.chat_message .container_msg::after {
    content: "";
    clear: both;
    display: table;
}

.chat_message .container_msg img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chat_message .container_msg img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.chat_message .time-right {
    float: right;
    color: #aaa;
}

.chat_message .time-left {
    float: left;
    color: #999;
}
/*sorgularda img show*/


.profile_name_left {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #1796fb;
    color: #ffffff;
    text-align: center;
    padding: 19px;
    font-weight: bold;
}

.profile_name_right {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-right: 0;
    border-radius: 50%;
    background-color: #1796fb;
    color: #ffffff;
    text-align: center;
    padding: 19px;
    font-weight: bold;
}

/*example sites*/
.site_box {
    background-color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}
.img_box {
    padding: 65px 5px 0;
    height: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.site_tile {
    padding: 10px 4px 0;
    font-size: 14px;
    word-wrap: break-word;
    color: #555555;
    height: 60px;
}

/*new left menu*/
.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1796fb;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
}
.sidebar a:first-child {
    padding: 0;
}
.sidebar a:hover span {
    color: #e2001a;
}

.sidebar a:hover {
    color: #fff;
}

/*.main {*/
    /*margin-left: 200px; !* Same as the width of the sidenav *!*/
/*}*/

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/*new left menu*/


/*teze*/
@media (max-width: 1596px){
    .container {
        margin-left: 250px;
    }
}

@media (max-width: 1214px){
    .sidebar {
        display: none;
    }
    .container {
        margin-left: auto;
    }
}

.login_and_sinup a {
    text-decoration: none;
    color: #1796fb;
}

.mobile-own-dropdown-menu {
    right: 0;
}

.mobile_user_name a {
    color: #ffffff;
}
.count-in-basket, .user-cart, .user-name a, .user-email a {
    color: #ffffff;
}
.own-mobile-language {
    /*width: 51px;*/
    /*margin-left: 22px;*/
    /*padding-top: 7px;*/

    position: absolute;
    top: 7px;
    right: 18px;
}

.content-hide-in-desktop {display: none;}
@media (max-width: 768px) {
    .content-hide-in-mobile {display: none;}
    .content-hide-in-desktop {display: block}
    .mobile-table thead tr th, .mobile-table tbody tr td {padding: 4px}
    .mobile-margin-top-10 {
        margin-top: 10px;
    }
}
.basketbox {
    margin-right: 15px;
    position: relative;
}
.basket_product_count {
    position: absolute;
    right: 0;
    color: #ff0000;
    width: 15px;
    font-weight: bold;
}

.balance {
    color: #ff0000;
    font-weight: bold;
    position: absolute;
    right: 194px;
    font-family: fantasy;
    top: 30px;
    font-size: 18px;
}
.package_name_color {
    color: #ff0000;
}

.go_to_buy {
    position: absolute;
    right: 136px;
    top: 13px;
    font-size: 18px;
}
.size_form_control {
    width: 120px;
    display: inline;
}
.js_set_sizes {
    display: none;
}

.balance_cart {
    position: relative;
}
.balance_amout {
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}
.productcode {
    position: absolute; top: 0;
    left: 0;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 0 2px;
}
.own_tabs_menu > li > a {
    background-color: #d2eaff;
}
.own_tabs_menu > li.active > a {
    background-color: #fbead1 !important;
}
.own_tabs_menu li a {
    padding: 4px 10px;
}

.order-box-header, .order-box-img, .order-box-content {
    background-color: #FFFFFF;
}
.counter {
    padding: 9px 8px;
    font-size: 9px;
}
.own_danger_text {
    color: #fe0002;
}
.address_style {
    color: #8a8a8a;
}
.address_p {
    font-size: 16px;
}
.own-sidenav p {
    margin-bottom: 4px;
}
.mobile_orders_icons { display: none; }
@media (max-width: 500px){
    .mobile_hide_customer_code { display: none; }
    .desktop_orders_text, .desktop_questions_text { display: none;}
    .mobile_orders_icons { display: block; }
}

.blinking {
    background-color: #004A7F;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

/*blinking*/
@-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 1px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 5px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 1px #B20000; }
}

@-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 1px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 5px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 1px #B20000; }
}

@-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 1px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 5px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 1px #B20000; }
}

@keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 1px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 5px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 1px #B20000; }
}
/*end*/

.insurance_button {
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
}