<p>&ldquo;Star Express&rdquo; MMC Azərbaycan Respublikasında qeydiyyatdan ke&ccedil;miş və qanunvericiliyin tələblərinə uyğun olaraq əldə etdiyi &ldquo;S&uuml;rətli po&ccedil;t xidməti&rdquo; lisenziyası əsasında fəaliyyət g&ouml;stərən &ldquo;Daşıyıcı&rdquo; şirkətdir.</p>

<p>Bununla yanaşı şirkətimiz &uuml;&ccedil; tərəfli (Satıcı, Alıcı, Y&uuml;kalan) m&uuml;qavilə əsasında bəzi m&uuml;ştərilərin məhsullarının alınmasında vasitə&ccedil;i kimi iştirak edir. &ldquo;Həvalə et&rdquo; adlandırdığımız bu xidmət &uuml;&ccedil;&uuml;n əlavə 5% (bank komisiyası, nəğdləşdirmə, xidmət haqqı) &ouml;dəniş nəzərdə tutulmuşdur.&nbsp; Qeyd edək ki, bu &ouml;dəniş yalnız həvalə et xidməti &uuml;&ccedil;&uuml;nd&uuml;r. Əlavə olaraq &ccedil;atdırılma &ouml;dənişi hər bir bağlamanın &ccedil;əkisinə g&ouml;rə hesablanır.</p>

<p>&ldquo;Star Express&rdquo; MMC g&ouml;stərdiyi vasitə&ccedil;ilik xidməti &ccedil;ər&ccedil;ivəsində he&ccedil; bir halda&nbsp;satıcı firmanın g&ouml;ndərdiyi məhsulun keyfiyyətinə, tamlığına, tərkibinə, &ouml;l&ccedil;&uuml; və formasına, satış anbarında t&uuml;kənməsinə, vaxtında &ccedil;atdırılmasına&nbsp; g&ouml;rə məsuliyyət daşımır. Yanlış gələn malların geriyə qaytarılması m&uuml;mk&uuml;n deyil.&nbsp;</p>

<p>&ldquo;Star Express&rdquo; MMC qəbul olunmuş sifarişləri n&ouml;vbəlilik əsasında həyata ke&ccedil;irir və həftə i&ccedil;i 24 saat ərzində sifarişlərin yerləşdirməsinə zəmanət verir. Bununla belə sifariş prosesində hər hansı problem yarandıqda (məhsulun bitməsi, sifariş olunan &ouml;l&ccedil;&uuml;n&uuml;n və ya rəngin bitməsi, kampaniyanın başa &ccedil;atması, &ouml;dəmə problemi və s.) istifadə&ccedil;inin &ouml;dədiyi məbləğ istifadə&ccedil;inin balansına geri qaytarılır.</p>

<p>İstifadə&ccedil;i balansına y&uuml;klənən məbləği digər məhsulların alınmasına istifadə edə bilər və yaxud da hesabına geri tələb edə bilər. Bu halda məbləğ istifadə&ccedil;inin hesabına 1-3 iş g&uuml;n ərzində geri qaytarılır.&nbsp;</p>

<p>Sifarişlər verilərkən məhsul(lar)un və T&uuml;rkiyə daxili karqonun &ouml;dənişi tam &ouml;dənilməlidir. &Ouml;dənilmədiyi təqdirdə &ccedil;atışmayan məbləğ varsa m&uuml;ştərinin m&ouml;vcud balansından tutulur və yaxud da məhsul(lar) təhvil verilərkən m&uuml;ştəridən tələb olunur. &Ouml;dənişlər tam &ouml;dənildikdən sonra məhsulun təhvili m&uuml;mk&uuml;nd&uuml;r.&nbsp;</p>

<p>&nbsp;&ldquo;Star Express&rdquo; MMC qəbul olunmuş sifarişləri eyni anda və birlikdə həyata ke&ccedil;irir. Buna baxmayaraq məhsullar satıcı tərəfindən ayrı-ayrı bağlamalarda g&ouml;ndərilə bilər və buna g&ouml;rə &ldquo;Star Expresss&rdquo; MMC məsuliyyət daşımır. &nbsp;</p>
